:root {
    --schriftart: sans-serif;
    --groesse: 1;
    --groesseUeberschrift: 2;
    --groesseUnterUeberschrift: 0.65;
    --schriftfarbe: #FFF;
    --hintergrundfarbe: #000;
    --akzentfarbe1: #5A5AA0;
    --akzentfarbe2: #5AA05A;
    --akzentfarbe1aktiv: #2A2A70;
    --akzentfarbe2aktiv: #2A702A;
    --akzentfarbe3: #F66151;
    --rotation01: 0deg;
}

::selection {
    background: var(--akzentfarbe3);
}

@keyframes transition1 {
    0%{
        overflow: hidden;
        border: 6px 6px 6px 0px solid var(--schriftfarbe);
        filter: contrast(.5);
        rotate: 120deg;
        margin-top: -25%;
        margin-right: 100%;
        opacity: 0.5;
        scale: 0.2;
        filter: blur(4px);
        background: #2222;
    }
    50%{
        filter: blur(1px);
        rotate: 0deg;
        margin-top: 0%;
        margin-right: 0%;
        opacity: 0.4;
        scale: 0.5;
    }
    55%{
        border: 2px solid var(--schriftfarbe);
        rotate: 0deg;
        margin-top: 0%;
        margin-right: 0%;
        opacity: 0.4;
        scale: 0.5;
    }
    100%{
        overflow: hidden;
        filter: blur(0px);
        opacity: 1;
        scale: 1;
    }
}


@keyframes transition2 {
    0%{
        filter: blur(10px);
        margin-left: 100%;
        opacity: 0.1;
        rotate: 60deg;
        scale: 0.3;
    }
    50%{
        opacity: 0.3;
        rotate: -15deg;
    }
    100%{
        filter: none;
        scale: 1;
        margin-left: 0%;
        opacity: 1;
        rotate: 0deg;
    }
}

@keyframes transition12 {
    0%{
        filter: blur(2px);
        transform: translateX(100%);
        opacity: 0;
    }
    50%{
        opacity: 0.5;
        filter: blur(1px);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes transition22 {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    25%{
        opacity: 0;
        filter: blur(2px);
    }
    100%{
        transform: translateX(0%);
    }
}

@keyframes transition3 {
    0%{
        font-size: calc(var(--groesse)*0.8rem);
        transform: scaleY(1.2);
        background: var(--akzentfarbe2);
    }
    35%{
        font-size: calc(var(--groesse)*1.0rem);    
    }
    100%{
        background: var(--akzentfarbe2aktiv);
    }
}

@keyframes transition4 {
    0%{
        font-size: calc(var(--groesse)*0.85rem);
        background: var(--akzentfarbe1);
    }
    35%{
        font-size: calc(var(--groesse)*1.0rem);
    }
    100%{
        background: var(--akzentfarbe1aktiv);
    }
}

@keyframes transition5 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
@keyframes transition6 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@media(prefers-reduced-motion) {
    .animate01 {
        animation: none!important;
    }
    .animate{
        animation: none!important;
    }
    .animate2{
        animation: none!important;
    }
        head{
        animation: none!important;
    }
}

.animate01 {
    animation: transition5 1500ms;
}

.animate{
    animation: transition1 700ms;
}
.animate2{
    animation: transition2 700ms;
}

.animate12{
    animation: transition12 500ms;
}
.animate22{
    animation: transition22 500ms;
}

html{
    scrollbar-width: auto;
    scrollbar-color: var(--akzentfarbe3) rgb(0, 0, 0, 0);
    overflow-x: hidden;
}

html::-webkit-scrollbar {
    width: 0.5vw;
}

html::-webkit-scrollbar-thumb {
    background: var(--akzentfarbe3);
}

html::-webkit-scrollbar-track {
    background: rgb(0, 0, 0, 0);
}

.notselection{
    background: var(--schriftfarbe);
    color: var(--hintergrundfarbe);
}

.navigationsleiste{
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-top: 1vh;
    width: 16%;
    height: 100vh;
    position: fixed;
    overflow: auto;
    background: linear-gradient(to right, rgba(118,118,118,0.45) 0%, rgba(118,118,118,0.25) 85%);
}

.zeitauswahlClickgeschw{
    width: 90%;
}

.divges{
    margin-left: 16%;
    height: 100vh;
    background: var(--hintergrundfarbe);
}

.listeNebeneinander a{
    overflow: hidden;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: var(--schriftart);
    margin: 0;
    background: var(--hintergrundfarbe);
}

a{
    color: white;
    text-decoration: none;

}

li{
    overflow: hidden;
}

li a{
    padding: 10px 10px 10px 10px;
    display: block;
    transition: all 0.5s ease;
    overflow: hidden;
}

.navigationsleiste li a.aktiv{
    background: var(--akzentfarbe1aktiv);
    animation: transition4 1500ms;
}

.navigationsleiste li a{
    height: calc(var(--groesse)*1.3rem);
}

.navigationsleiste li a:hover:not(.aktiv){
    background: var(--akzentfarbe1);
    font-size: calc(var(--groesse)*0.85rem);
}

.head{
    color: white;
    margin: 0;
    padding: 0;
    padding-top: 2%;
    display: flex;
    justify-content: center;
    /*animation: transition2 700ms;*/
}

span{
    display: flex;
    justify-content: center;
}

.timer{
    display: flex;
    justify-content: space-around;
}

.gear:hover{
    font-size: calc(var(--groesse)*2.6rem);
}

input{
    width: 7%;
    accent-color: var(--akzentfarbe3)!important;
    background: var(--hintergrundfarbe)!important;
    color: var(--schriftfarbe);
    border: 1px solid;
    font-size: calc(var(--groesse)*1rem);
    font-family: var(--schriftart);
    transition: all 0.3s ease;
    border-color: var(--schriftfarbe);
}

d{
    color: white;
    display: flex;
    justify-content: center;
    transition: all 0.5s ease;
}



hr{
    margin-bottom: 3%;
    margin-top: 3%;
    border-top: 1px solid var(--schriftfarbe);
}

.listeNebeneinander{
    height: calc((var(--groesse)+1)*1.8rem)!important;
    list-style-type: none;
    width: 100%;
    overflow: auto;
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    margin-bottom: 2%;
    background: linear-gradient(-90deg, rgba(118,118,118,0.6) 0%, rgba(118,118,118,0.25) 100%);
 }

.nebeneinander{
    float: left;
    text-align: center;
    width: 33.3%;
}
    
.nebeneinander a{
    transition: all 0.3s!important;
}

.listeNebeneinander a.aktiv{
    background: var(--akzentfarbe2aktiv);
    animation: transition3 1500ms;
}

.listeNebeneinander li a:hover:not(.aktiv){
    background: var(--akzentfarbe2);
}

.anderes{
    background: rgb(70, 10, 10);
    background: rgb(160, 80, 80);
}

#stoppuhr{
    font-size: xx-large;
}

#timer{
    font-size: xx-large;
}

#Zwischenergebnisse{
    padding: 0;
    margin: 0;
}

.Impressum  a{
    text-decoration: none;
    color: rgb(140, 160, 250)!important;
}
.Impressum  a:hover{
    color: blue!important;
}

#reaktionsfeld{
    border-radius: 10px;
    margin-top: 5%;
    border: 2px solid;
    border-color: var(--schriftfarbe);
    height: 20em;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #222222;
}

#clickfeld{
    border-radius: 10px;
    margin-top: 5%;
    border: 2px solid;
    border-color: var(--schriftfarbe);
    height: 22em;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.white {
    background: rgb(200, 200, 200)!important;
}

.transparent {
    background: rgb(0, 0, 0, 0)!important;
    color: rgb(0, 0, 0, 0)!important;
    stroke: rgb(0, 0, 0, 0)!important;
    border-color: rgb(0, 0, 0, 0)!important;
}

.red {
    background: rgb(255, 150, 150)!important;
}

.green {
    background: rgb(150, 200, 150)!important;
}

.black{
    background: rgb(0, 0, 0)!important;
}

.gray{
    background: #222!important;
}

#reaktionsfeld d{
    color: black;
    font-size: 5em;
}

#clickfeld d{
    color: black;
    font-size: 5em;
}

polygon{
    stroke-width: 2%; 
    stroke: var(--schriftfarbe);
    border-radius: 200px;
}

circle{
    stroke-width: 2%; 
    stroke: var(--schriftfarbe);
    border-radius: 200px;
    fill: var(--hintergrundfarbe);
}

ellipse{
    stroke-width: 2%; 
    stroke: var(--schriftfarbe);
    fill: var(--hintergrundfarbe);
}

.kaestchen{
    border: 2px solid;
    border-color: var(--schriftfarbe);
    width: 33.3%;
    height: 150px;
}

.spanGesamtTicTacToeEnd{
    color: black;
}

#spielfeld{
    padding-left: 5%;
}

.feldGewonnen {
    border: 2px solid white;
    width: 33.3%;
    height: 150px;
    background: yellow;
}

.feldGewonnen ellipse{
    stroke: black;
    fill: yellow;
}

.feldGewonnen polygon{
    stroke: black;
}

.inputUmrechnerBinaer{
    margin-left: 0%;
    margin-right: 1%;
    width: 96%;
    height: 1.5rem;
    font-size: 1.5rem;
    text-align: center;
}

.inputDivBinaer{
    font-size: 1.5rem;
    width: 33.33%;
}

.bigger{
    font-size: 1.5rem;
}

.zahlenfelder{
    margin-right: 5%;
    width: 30%;
}

.zahlenfelder d{
    font-size: 2rem!important;
    color: white!important;

}

.operatorenfelder d{
    font-size: 2rem!important;
    color: white!important;
}

.operatorenfelder{
    width: 50%;
}

.unused{
    height: 65px;
    width: 65px;
    margin: 5px;

}

.zahlenfelder div{
    height: 65px;
    width: 65px;
    margin: 5px;
    background: #333333;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zahlenfelder div:hover{
    background: #6F6F6F;
}

.operatorenfelder div:hover{
    background: #6F6F6F;
}

.ausgabefeld{
    width: 95%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.operatorenfelder div{
    height: 65px;
    width: 65px;
    margin: 5px;
    background: #333333;
    font-size: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ausgabefeld input{
    font-size: 4rem;
    width: 100%;
    height: 100%;
    background: #333333!important;
    padding-right: 2%;
    color: white;
    text-align: right;
    border: 0;
}

.einheitentemp d{
    font-size: 1.5rem;
}

.einheitentemp input{
    width: 28.3%;
}

.einheitenlaeng d{
    font-size: 1.5rem;
    width: 3.5%;
}

@keyframes trans11{
    0%{
        scale: 1;
        rotate: 0;
    }
    50%{
        scale: 1.5;
        filter: blur(1px);
    }
    100%{
        scale: 1;
        rotate: 353deg;
    }
}

@keyframes trans12{
    0%{
        scale: 1;
        rotate: 0;
    }
    50%{
        scale: 1.5;
        filter: blur(1px);
    }
    100%{
        scale: 1;
        rotate: -353deg;
    }
}

@keyframes trans31{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.5;
        filter: blur(1px);
    }
    100%{
        scale: 1;
    }
}

input[type="checkbox"] {
    transition: all 0s;
}

input[type="checkbox"]:checked {
    animation: trans11 0.5s;
}

input[type="checkbox"]:not(:checked) {
    animation: trans12 0.5s;
    rotate: 0;
}

input[type="checkbox"]:not(:checked):hover {
    rotate: 15deg;
}

input[type="checkbox"]:checked:hover {
    rotate: -15deg;
}

input[type="radio"]:checked {
    animation: trans31 0.5s;
}

input:not([type="range"]):hover{
    transform: scale(0.95, 0.9);
}

.einheitenlaeng input{
    width: 13.5%;
}

.kopfrechenfeld{
    height: 150px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: end;
    font-size: 5rem!important;
    margin-right: 20px;
}
.inputergebniskopfrechnen {
    height: 150px;
    width: 33%;
    font-size: 5rem;
    background: var(--hintergrundfarbe);
    color: var(--schriftfarbe);
    border: 1px solid;
    border-color: var(--schriftfarbe);
}

.passwortgeneratorlaengenauswahl div input{
    width: 20px;
    height: 20px;
}

.passwortgeneratorlaengenauswahl {
    margin-left: 10%;
    margin-right: 10%;
    justify-content: space-between;
}

.gear {
    padding-left: 10%!important;
    font-size: calc(var(--groesse)*2rem);
    justify-content: left;
    transition: all 0.5s ease;
}

div:not(.divges):not(#spielfeldtic){
    overflow: hidden;
}

d{
    font-size: calc(var(--groesse)*1rem);
    color: var(--schriftfarbe);
}
a{
    font-size: calc(var(--groesse)*1rem);
    color: var(--schriftfarbe);
}

h6{
    text-align: center;
    color: var(--schriftfarbe)!important;
    font-size: calc(var(--groesse)*0.65rem);
}

h1{
    text-align: center;
    color: var(--schriftfarbe)!important;
    font-size: calc(var(--groesse)*2rem);
    overflow: hidden;

}

.sett h1 {
    transition: all 0.5s ease;
}

.durchsichtig {
    opacity: 0;
    transform: scale(0);
}

.nebeneinander:hover a:not(.aktiv){
    font-size: calc(var(--groesse)*0.8rem);
    transform: scaleY(1.2);
}

.clock .hand.millisecondin {
    background: var(--akzentfarbe3);
}

#graph{
    margin-top: 4px;
    width: 100%;
    height: 400px;
    border: 3px solid;
    border-color: var(--schriftfarbe);
}

.graphPoint {
    border: 0px;
    stroke: none;
    fill: white;
}

#seiteL {
    border: 3px solid;
    border-color: var(--akzentfarbe1);
    accent-color: var(--akzentfarbe1)!important;
    background: var(--hintergrundfarbe);
    color: var(--schriftfarbe);
}

#seiteR {
    border: 3px solid;
    border-color: var(--akzentfarbe2);
    accent-color: var(--akzentfarbe2)!important;
    background: var(--hintergrundfarbe);
    color: var(--schriftfarbe);
}

#ergebnisGleichung {
    border: 3px solid;
    border-color: #F6D32D;
    accent-color: #F6D32D!important;
    border-color: var(--akzentfarbe3);
    accent-color: var(--akzentfarbe3)!important;
    background: var(--hintergrundfarbe);
    color: var(--schriftfarbe);
}

#loeseButton{
    border: 0px;
    background: var(--hintergrundfarbe);
    color: var(--schriftfarbe);   
}

input .not{
    border: 2px solid;
    border-color: var(--schriftfarbe);
    accent-color: var(--schriftfarbe)!important;
    background: var(--hintergrundfarbe);
    color: var(--schriftfarbe);    
}

#under{
    margin-left: 42px;
    width: 100%;
    height: 20px;
    border: 0px solid;
    border-color: var(--schriftfarbe);
}

#left{
    width: 50px;
    height: 411px;
    border: 0px solid;
    border-color: var(--schriftfarbe);
    margin-right: 2px;
}

.gleichsys {
    width: 35px;
    border: 1px solid;
    border-color: var(--schriftfarbe);
    accent-color: var(--akzentfarbe3)!important;
    background: var(--hintergrundfarbe);
    color: var(--schriftfarbe);
}



iframe {
    width: 84%;
    margin-left: 16%;
    height: 640px;
}

@keyframes transitionpopup {
    0% {
        filter: blur(5px);
        transform: scale(0);
    }
    100% {
        filter: blur(0px);
        transform: scale(1);
    }
}

#aufford{
    overflow: visible!important;
    display: grid;
    place-content: top;
    position: absolute;
    border-radius: 15px;
    top: 30vh;
    left: 33%;
    width: 50%;
    padding-top: 1%;
    aspect-ratio: 2/1;
    background: var(--hintergrundfarbe);
    z-index: 100;
    border: 3px solid var(--akzentfarbe3);
    color: var(--schriftfarbe);
    box-shadow: 0px 0px 50px 5px var(--akzentfarbe3);
    animation: transitionpopup 300ms linear;
    transition: all 200ms;
}

.sett section:nth-child(1) {
    width: 100%;
    aspect-ratio: 3/1;
}
.sett section:nth-child(2) {
    width: 100%;
    aspect-ratio: 6/1;
}

#JANEIN{
    height:100%;
}

#JANEIN div{
    display: grid;
    place-content: center;
    border: 1px solid var(--schriftfarbe);
    transition: all 250ms;
}

#JANEIN div:hover d{
    font-size: 1.5rem!important;
}

#JANEIN div:nth-child(1){
    border-radius: 0px 0px 0px 13px;
}

#JANEIN div:nth-child(2){
    border-radius: 0px 0px 13px 0px;
}

#JANEIN d{
    font-size: 2rem!important;
}

section{
    display: grid;
    place-content: top;
}

.BodyMass-Index-Input input{
    width: 35%;
    margin-left: 5%;
    margin-right: 1%;
}

#arrow1{
    position: absolute;
    font-size: 10rem;
    rotate: var(--rotation01);
    margin-left:0%;
    top: 0%;
    transform: translate(-50%, -50%);
    margin-top: 300px;
    margin-left: 500px;
    transform-origin: center;
}

.information{
    width: calc(var(--groesse)*20px);
    height: calc(var(--groesse)*35px);
    position: absolute;
    background: var(--schriftfarbe);
    color: var(--hintergrundfarbe);
    top: 10px;
    right: 15px;
    font-size: calc(var(--groesse)*2rem);
    border-radius: 100%;
    box-shadow: 0px 0px 5px 5px var(--schriftfarbe);
    transition: width 0s, height 0s;
}

.information:hover{
    font-size: calc(var(--groesse)*1rem);
    border-radius: 2%;
    width: 40%;
    height: 40%;
    transition: width 0.5s, height 0.5s;
}

.information:hover > div:nth-child(1){
    opacity: 0;
    scale: 0;
}

.information:hover > div:nth-child(2){
    opacity: 1;
    scale: 1;
}

.information:not(:hover) > div:nth-child(1){
    opacity: 1;
    scale: 1;
}

.information:not(:hover) > div:nth-child(2){
    opacity: 0;
    scale: 0;
}

.information div{
    position: absolute;
}