.divges #Impressum{
    margin-left: 3%;
}
.divges div{
    border-radius: 8px 8px 8px 8px;
}
.divges span{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.divges .divsmall{
    width: 33%;
    background-color: rgba(40, 40, 40, 1);
}
.divges .divbig{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.divges img{
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
    height: 64;
    border-radius: 8px 8px 8px 8px;
}
.divges d{
    color: white;
}
.divges input{
    margin-top: 5%;
    margin-bottom: 5%;
}
.divges hr{
    margin-bottom: 5%;
}
.divges h2{
    margin-top: 5%;
    display: flex;
    justify-content: space-around;
    color: white;
}
.divges .Punkte{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    height: 60px;
    background-color: rgb(40, 40, 40, 1);
    margin-bottom: 15%;
    font-size: x-large;
}
.divges input[type='radio'] 
{ 
    transform: scale(1.5); 
    margin: 0px;
    margin-bottom: 20px;
    margin-top: 8px;
}
.divges input[type='checkbox'] 
{ 
    transform: scale(1.5); 
    margin-bottom: 30px;
}
.divges label{
    margin: 0px;
    padding: 0px;
}

.divges .schrift{
    height: 50px;
    margin-left: 3%;
    margin-right: 3%;
}

#buttonAllesWRO{
    margin: 0;
    width: 20%;
}